<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
    <link type="text/css" href="/static/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="/static/main.css" rel="stylesheet">

    <title>Item Catalog</title>
      {% block head %}
      {% endblock %}
  </head>

  <body>
    <a href="/" class="main-title">
      Item Catalog
    </a>

    <div class="login-area">
      {% if 'username' in login_session or (is_login_page is defined) %}
        {% if not is_login_page is defined %}
          {{login_session['username']}} (<a class="login-link" href="/gdisconnect">logout</a>)
        {% endif %}
      {% else %}
        <a class="login-link" href="/login">login</a>
      {% endif %}
    </div>
    
    {% block body_override %}
    {% endblock %}

    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>

</html>