{% extends "base.html" %}

{% block content %}

  <div class="container">

  <div id="header" class="row">


    <div class="col-md-12">
      <h2 class="text-uppercase">{{item.name}}</h2>
      Description: {{item.description}}

    <br>
    {% if current_user.is_authenticated %}        
        <a class="edit-delete-link" href="/catalog/{{item.category.name}}/{{item.name}}/edit">Edit</a> |
        <a class="edit-delete-link" href="/catalog/{{item.category.name}}/{{item.name}}/delete">Delete</a>
    {% endif %}


    <br><br>
  </div>
  </div>


{% endblock %}